//variables

@import "utilities/variables";

*{
    font-family:'Roboto' ;
    margin: 0px 3px 0px 3px;
    padding: 0;
}
body{

        .fondo{
         
        background-color: $color-main;

        }

     header{

        .bannerImage{

            width: 100%;
            height: 150px;        
        }
        
        .banner{

            line-height: 0;
            

                h1{
                    font-weight: bolder;
                    color: $color-texto-footer;
                }
        }

        .title{

            position: relative;
            top: 100px;
            left: 30px;
        }
    }
     main{

         .subtitulo{

            margin-top: 50px;
            text-align: center;
            font-weight: 1200;
            font-weight: bolder;                
         }

         hr {
            border: 0;
            border-top: 2px solid $color-border;
            margin: 5px 120px 0px 120px;                
         }

         .row:after {
            content: "";
            display: table;
            clear: both;
         }
                
         .column {
        
            float: left;
            width: 45%;
            margin: 30px 0px 30px 30px;
            
         }
        
         .column1 {
        
            float: right;
            width: 50%;
            margin: 30px 50px 0px 0px;
        
         }        
         
         .nuestrosTrabajos{
              margin-top: 100px;              
              text-align: justify;              
         }                    
                   
        }

     footer{

            text-align: center;
            margin-top: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color:$color-footer;
            color:$color-texto-footer;
                
        }
    
}